<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hỏi nhanh</title>
    <script
		src="https://code.jquery.com/jquery-3.4.0.min.js"
		integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
		crossorigin="anonymous"></script>   
</head>
<body>
    <h1>Hỏi một câu hỏi có/không</h1>
    <form action="/api/addquestion" method="POST">
        <textarea maxlength="200" name="question" id="" cols="30" rows="10"></textarea>
        <span>Còn <span id='remain'>200</span>/200 ký tự</span>
        <button type="submit">Submit</button>
    </form>

    <script >
    $( document ).ready(function() {
	$('textarea').on("input", () => {
		const inputLength = $('textarea').val().length;
		$('#remain').text(200 - inputLength);
	});
});
    </script>
</body>
</html>