<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<title>Đáp gọn</title>
</head>

<body>
	<h1 id='content'>

	</h1>
	<a id='btn-no' href="#"><button>Sai/không/trái</button></a>
	<a id='btn-yes'href="#"><button>Đúng/có/phải</button></a>
	<a id='btn-info'href="#"><button>Kết quả vote</button></a>
	<a href="/"><button>Câu hỏi khác</button></a>

	<script>
		$.ajax({
			type:'GET',
			url:'/api/randomquestion',
			success: function(data){
				$('h1').text(data.content);
				$('#btn-no').attr('href',`/api/vote/${data._id}/no`);
				$('#btn-yes').attr('href',`/api/vote/${data._id}/yes`);
				$('#btn-info').attr('href',`/question/${data._id}`);
			},
			error: function(data){
				console.log(data);
			}
		});

	</script>
</body>

</html>